<div class="dashboard-bg">
    <div class="analytics-container">
        <div class="top-filters">
            <div class="filter-row">
                <div class="filter">
                    <label>Date Range</label>
                    <select [(ngModel)]="selectedDateRange" (change)="onFilterChange()">
                        @for (option of dateRangeOptions; track option.value) {
                        <option [value]="option.value">{{ option.label }}</option>
                        }
                    </select>
                </div>
                <div class="filter">
                    <label>Chart Type</label>
                    <select [(ngModel)]="selectedChartType" (change)="onChartTypeChange()"
                        [disabled]="selectedMetric !== 'sales'">
                        @for (option of chartTypeOptions; track option.value) {
                        <option [value]="option.value">{{ option.label }}</option>
                        }
                    </select>
                </div>
                <div class="filter">
                    <label>Metric</label>
                    <select [(ngModel)]="selectedMetric" (change)="onFilterChange()">
                        @for (option of metricOptions; track option.value) {
                        <option [value]="option.value">{{ option.label }}</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="chart-main">
            <div echarts [options]="chartOption" class="main-chart"></div>
        </div>
    </div>
</div>